.tableOfEmployees {
  width: 80%;
  margin-left: auto;
  margin-top: 30px;
}

table{
  width: 98%;
}

div > a:hover{
  color: blue;
  cursor: pointer;
  font-style: oblique;
  transition: 0.25s linear;
  text-decoration: underline;

}



