<div class="tableOfEmployees">
  <h1 style="text-align: center; font-size: 44px; font-family: sans-serif; font-style: oblique"> Employees Management </h1>
  <div fxLayout fxLayoutGap="10px">
    <span>Display by: </span>
    <a mat-list-item (click)="displayEmployeesByTable()" >Table</a>
    <a mat-list-item (click)="displayEmployeesByCard()">Card</a>
  </div>

  <table mat-table [dataSource]="employees" class="mat-elevation-z8" *ngIf="isTable">
    <ng-container matColumnDef="id_employee">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let employee">{{employee.id}}</td>
    </ng-container>
    <ng-container matColumnDef="first name">
      <th mat-header-cell *matHeaderCellDef>First Name.</th>
      <td mat-cell *matCellDef="let employee">{{employee.firstName}}</td>
    </ng-container>
    <ng-container matColumnDef="last name">
      <th mat-header-cell *matHeaderCellDef>Last Name.</th>
      <td mat-cell *matCellDef="let employee">{{employee.lastName}}</td>
    </ng-container>
    <ng-container matColumnDef="emailId">
      <th mat-header-cell *matHeaderCellDef>Email.</th>
      <td mat-cell *matCellDef="let employee">{{employee.emailId}}</td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let employee">
        <button mat-icon-button label="details">
          <mat-icon color="accent" (click)="detailsEmployee(employee.id)">details</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon color="primary" (click)="updateEmployee(employee.id)">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon color="warn" (click)="deleteEmployee(employee.id)">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <app-employees-detail *ngIf="isCard" [employees]="employees"></app-employees-detail>
</div>



