.tableOfEmployees {
  margin-top: 30px;
  margin-bottom: 65px;

}

table{
  width: 98%;
  padding: 5px;
}
div > a {
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease-in;
  margin-bottom: 5px;
}
div > a:hover{
  color: blue;
  border-bottom: 1px solid blue;
  cursor: pointer;
  font-size: 15px;
}



